@import 'tokyonight.css';

* {
  /* `otf-font-awesome` is required to be installed for icons */
  color: @foreground-color;
  font-family: JetBrainsMono, FontAwesome;
  font-size: 12px;
  font-weight: bold;
  min-height: 5px;
  border-radius: 12px;
}

window#waybar {
  background: transparent;
  border-bottom: none;
  color: @foreground-color;
  border-radius: 0px;
  padding: 0 10px;
}

tooltip {
  background: @background-color;
}

/* modules */
.modules-right {
  background-color: alpha(@background-color, 1);
  border: none;
  border-radius: 12px;
  margin: 4px;
}

.modules-center {
  background-color: alpha(@background-color, 1);
  border: none;
  border-radius: 12px;
  margin: 4px;
}

.modules-center:hover {
  background: @black-bold-color;
}

.modules-left {
  background-color: alpha(@background-color, 1);
  border: none;
  border-radius: 12px;
  margin: 4px;
}

/* button */
button {
  box-shadow: inset 0 -3px transparent;
  border: none;
}
button:hover {
    background: inherit;
}

/* launcher */
#custom-launcher {
  color: @blue-normal-color;
  font-size: 16px;
  padding-left: 7px;
  padding-right: 15px;
}

#custom-launcher:hover {
  background: @black-bold-color;
}

/* workspaces */
#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
  margin: 2px;
}

#workspaces button:hover {
  background: @black-bold-color;
  border: none;
  border-radius: 12px;
}

#workspaces button.active {
  background-color: @blue-normal-color;
  border-radius: 12px;
}

/* window */
#window {
  padding: 0 10px;
}

#window.empty {
  padding: 0 5px;
}

/* clock */
#clock {
  padding: 0 10px;
}

/* tray */
#network,
#battery,
#pulseaudio,
#memory,
#cpu,
#custom-notifications,
#tray {
  padding: 0 10px;
}

#custom-power {
  background-color: @blue-normal-color;
  color: @background-color;
  padding-left: 9px;
  padding-right: 12px;
}

#custom-power:hover {
  background: @black-bold-color;
  color: @foreground-color;
}

#network:hover {
  background: @black-bold-color;
}

#pulseaudio:hover {
  background: @black-bold-color;
}
